.cart-item{
    max-height: 200px;
}
.cart-item-name{
    width: 200px;
}
@media screen and (max-width: 600px) {
.cart-buttons{
    display: block !important
}
  .cart-buttons div {
    display:flex;
    align-items:center;
    justify-content: space-between;
  }
}
