.image{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.description {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
}
  
.description.expanded {
    max-height: 5300px;
    opacity: 1;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}